<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ package.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="buttons">
                <a class="button is-primary" href="/packages">
                    <i class="fas fa-angle-left fa-fw"></i>
                    <strong>All packages</strong>
                </a>
            </div>
            <div class="box">
                <h1 class="title is-2"> {{ package.name }} </h1>
                <h3 class="subtitle is-6"> <b>Version</b> {{ package.version }} </h3>
                <h3 class="subtitle"> Description </h3>
                <div class="content" id="description-container">
                    <p id="description"> {{ package.description }} </p>
                </div>
                {% if package.dependencies %}
                <h2 class="subtitle"> Dependencies </h2>
                <div class="list is-hoverable">
                    {% for dependency in package.dependencies|sort(attribute="name") %}
                    <a class="list-item package-link" href="/packages/{{ dependency.name }}">
                        {{ dependency.name }}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if package.required_by %}
                <h2 class="subtitle"> Required by </h2>
                <div class="list is-hoverable">
                    {% for req in package.required_by|sort(attribute="name") %}
                    <a class="list-item" href="/packages/{{ req.name }}">
                        {{ req.name }}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>